### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### 추가 내용 ###
.idea/
**/src/main/resources/**/bootstrap*
**/src/main/resources/**/jquery*
**/css/bootstrap*
**/js/bootstrap*
**/js/jquery*


**/*.iml
**/.gradle
**/local.properties
**/.idea/caches
**/.idea/libraries
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/assetWizardSettings.xml
**/.DS_Store
**/build
**/captures
**/.externalNativeBuild
**/.cxx
**/local.properties

app_20250306/landlayout/.gitignore
app_20250306/landlayout/build.gradle.kts
app_20250306/landlayout/proguard-rules.pro
app_20250306/landlayout/src/androidTest/java/bitc/fullstack/landlayout/ExampleInstrumentedTest.kt
app_20250306/landlayout/src/main/AndroidManifest.xml
app_20250306/landlayout/src/main/java/bitc/fullstack/landlayout/MainActivity.kt
app_20250306/landlayout/src/main/res/drawable/ic_launcher_background.xml
app_20250306/landlayout/src/main/res/drawable/ic_launcher_foreground.xml
app_20250306/landlayout/src/main/res/drawable/intro.png
app_20250306/landlayout/src/main/res/layout/activity_main.xml
app_20250306/landlayout/src/main/res/mipmap-anydpi/ic_launcher.xml
app_20250306/landlayout/src/main/res/mipmap-anydpi/ic_launcher_round.xml
app_20250306/landlayout/src/main/res/mipmap-hdpi/ic_launcher.webp
app_20250306/landlayout/src/main/res/mipmap-hdpi/ic_launcher_round.webp
app_20250306/landlayout/src/main/res/mipmap-mdpi/ic_launcher.webp
app_20250306/landlayout/src/main/res/mipmap-mdpi/ic_launcher_round.webp
app_20250306/landlayout/src/main/res/mipmap-xhdpi/ic_launcher.webp
app_20250306/landlayout/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
app_20250306/landlayout/src/main/res/mipmap-xxhdpi/ic_launcher.webp
app_20250306/landlayout/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
app_20250306/landlayout/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
app_20250306/landlayout/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
app_20250306/landlayout/src/main/res/values/colors.xml
app_20250306/landlayout/src/main/res/values/strings.xml
app_20250306/landlayout/src/main/res/values/themes.xml
app_20250306/landlayout/src/main/res/values-night/themes.xml
app_20250306/landlayout/src/test/java/bitc/fullstack/landlayout/ExampleUnitTest.kt
